[submodule "_vim/bundle/neobundle.vim"]
	path = _vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "_tmux-powerline"]
	path = _tmux-powerline
	url = https://github.com/erikw/tmux-powerline
[submodule "_apt-cyg"]
	path = _apt-cyg
	url = https://github.com/kou1okada/apt-cyg.git
[submodule "_zplug"]
	path = _zplug
	url = https://github.com/zplug/zplug
