<?xml version="1.0"?>
<packages>
    <package id="chocolatey" />
    <package id="chocolateygui" />
    <package id="GoogleChrome" />
    <package id="nodejs.install" />
    <package id="7zip.install" />
    <package id="vagrant" />
    <package id="virtualbox" />
    <package id="cmder" />
    <package id="git.install" />
    <package id="ccleaner" />
    <package id="sourcetree" />
    <package id="rapidee" />
    <package id="adobereader" />
    <package id="winscp.install" />
    <package id="googledrive" />
    <package id="p4v" />
    <package id="googlejapaneseinput" />
    <package id="reflect-free" />
    <package id="skype" />
    <package id="treesizefree" />
    <package id="rufus.install" />
    <package id="freefilesync" />
    <package id="crystaldiskmark" />
    <package id="cpu-z" />
</packages>
