<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" version="19.0" />
  <package id="caesium.install" version="1.7.0.20190216" />
  <package id="cdburnerxp" version="4.5.8.704200" />
  <package id="chocolatey" version="0.10.13" />
  <package id="chocolatey-core.extension" version="1.3.3" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.3" />
  <package id="chocolateygui" version="0.16.0" />
  <package id="cmder" version="1.3.5" />
  <package id="cpu-z" version="1.87" />
  <package id="cpu-z.install" version="1.87.0.20181128" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="DotNet4.6.1" version="4.6.01055.20170308" />
  <package id="dotnet4.7.1" version="4.7.2558.20190226" />
  <package id="dotnetfx" version="4.7.1.20180317" />
  <package id="doxygen.install" version="1.8.15" />
  <package id="everything" version="1.4.1895.20180530" />
  <package id="fastcopy" version="3.63" />
  <package id="fastcopy.portable" version="3.63" />
  <package id="git.install" version="2.21.0" />
  <package id="graphviz" version="2.38.0.20171119" />
  <package id="handbrake.install" version="1.2.2" />
  <package id="hwmonitor" version="1.39" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.4" />
  <package id="KB3035131" version="1.0.2" />
  <package id="kindle" version="1.23.50133" />
  <package id="nuget.commandline" version="4.7.1" />
  <package id="P4Merge" version="2018.3.1719708" />
  <package id="procexp" version="16.22" />
  <package id="pt" version="2.2.0" />
  <package id="rapidee" version="9.2.937" />
  <package id="reflect-free" version="6.3.1734" />
  <package id="SourceTree" version="3.0.17" />
  <package id="teraterm" version="4.102" />
  <package id="tortoisesvn" version="1.11.1.28492" />
  <package id="treesizefree" version="4.3.1.1" />
  <package id="vagrant" version="2.2.4" />
  <package id="vcredist140" version="14.16.27027.1" />
  <package id="vcredist2010" version="10.0.40219.2" />
  <package id="vcredist2017" version="14.16.27027.1" />
  <package id="virtualbox" version="6.0.4" />
  <package id="vscode" version="1.32.3" />
  <package id="wincdemu" version="4.1.0.20171221" />
  <package id="winmerge" version="2.16.0.20190101" />
</packages>